<% include sections/header %>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h3><%= indexContent.title %></h3>
             <p>
                <%= indexContent.heading %>
             </p>
         </div>
     </header>
     <h3><%= indexContent.message %></h3>
     
</div>

<% include sections/footer %>
