<% include sections/header %>

<div class="container">
    <div class="row">
     	<h1 style="text-align: center">User details</h1>
     	<div style="width: 40%; margin: 25px auto;">
		<ul class="list-group">
			<li class="list-group-item">
				<div> 
					<strong>Display name:</strong> <%= user.displayName %> 
				</div>
			</li>
			<li class="list-group-item">
				<div> 
					<strong>User name:</strong> <%= user.userName %> 
				</div>
			</li>
		</ul>
		<a href="/">Go Back</a>
        </div>
    </div>
</div>


<% include sections/footer %>