<% include sections/header %>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h3>Welcome To Site Prototype!</h3>
             <p>
                <a class="btn btn-primary btn-large" href="/users/new">Add New User</a>
             </p>
         </div>
     </header>
     
</div>

<% include users-list %>

<% include sections/footer %>
