<div class="container">
    <div class="row">
     	<h1 style="text-align: center">Users List</h1>
     	<div style="width: 60%; margin: 25px auto;">
		<ul class="list-group">
			<% users.forEach(function(user){ %>
				 <li class="list-group-item">
						<a href="/users/<%= user._id %>" style="float: right;margin-right: 10px;"class="btn btn-primary btn-large">Details</a>  
						<div> 
							<strong>Display name:</strong> <%= user.displayName %> 
						</div>
						<div> 
							<strong>User name:</strong> <%= user.userName %> 
						</div>
				 </li>
			<% }); %>
		</ul>
        </div>
    </div>
</div>