<% include sections/header %>

<div class="container">
    <div class="row">
     	<h1 style="text-align: center">Add new user</h1>
     		<div style="width: 30%; margin: 25px auto;">

				<form action="/adduser" method="POST">
					<div class="form-group">
				    	<input type="text" placeholder="displayName" name="displayName">
				    </div>
                	<div class="form-group">
				    	<input type="text" placeholder="userName" name="userName">
				    </div>
                	<div class="form-group">
				    	<button class="btn btn-primary btn-large">Add</button>
				    </div>
				</form>
				<a href="/">Go Back</a>
        </div>
    </div>
</div>

<% include sections/footer %>