<% include sections/header %>

<% include users-list %>

<div class="container">
    <div class="row">
     	<div style="width: 60%; margin: 25px auto;">
			<a class="btn btn-primary btn-large" href="/users/new">Add New User</a>
        </div>
    </div>
</div>

<% include sections/footer %>